@model lab4Final.Models.Prestamo

@{
    ViewData["Title"] = "Editar prestamo";
}

@if (User.IsInRole("Admin"))
{
<h1>Editar prestamo</h1>

<hr />
<div class="edit-container">
    <div>
        @if (!string.IsNullOrEmpty(Model.ImagenLibro))
        {
            <img src="/images/@Model.ImagenLibro" class="edit-image" alt="Imagen del libro" />
        }
    </div>
    <div class="row">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="FechaPrestamo" />
            <div class="form-group">
                <label asp-for="SocioId" class="control-label"></label>
                <select asp-for="SocioId" class="form-control" asp-items="ViewBag.SocioId"></select>
                <span asp-validation-for="SocioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LibroId" class="control-label"></label>
                <select asp-for="LibroId" class="form-control" asp-items="ViewBag.LibroId"></select>
                <span asp-validation-for="LibroId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagenLibro" class="control-label"></label>
                <input type="file" name="imagenLibro" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="FechaDevolucion" class="control-label"></label>
                <input asp-for="FechaDevolucion" type="date" class="form-control" />
                <span asp-validation-for="FechaDevolucion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary save" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@section Styles {
    <link rel="stylesheet" href="~/css/edit.css" />
}