<form asp-action="SubirExcel" method="post" enctype="multipart/form-data" class="container my-5 p-4 bg-light shadow-sm rounded">
    <h2 class="text-center mb-4">Importar socios</h2>
    <div class="form-group mb-3">
        <label for="excel" class="form-label fw-bold">Archivo excel</label>
        <input type="file" name="excel" class="form-control" required />
    </div>
    <div class="text-center mt-4">
        <input type="submit" value="Importar socios" class="btn btn-primary" />
    </div>
</form>